.customborder {
    border: 5px solid rgb(130, 140, 225);
    border-radius: 5px;
    float: right;
    background-color: #FFFFFF;
  }

  .customborder:hover {
    border: 5px solid rgb(100, 100, 200);
  }

  #banner{
    width:100%;
    max-height: 10em;
    height:10%;
    margin-left:0px;
  }
  
  /*#erichuang{
    background-image: url("../assets/img/paint.png");
    background-size: 55%;
    background-repeat: no-repeat;
  }*/