.customborder {
    border: 5px solid #cebea0;
    border-radius: 5px;
    float: right;
    background-color: #FFFFFF;
  }

  /*#erichuang{
    background-image: url("../assets/img/paint.png");
    background-size: 55%;
    background-repeat: no-repeat;
  }*/